* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --font-1: "Poppins";
  --font-2: "Lobster";

  --selection-grid-frs: 1fr 1fr 1fr;
  --selection-grid-gap: 15px;

  --white: #fcfcfc;
  --black: #202020;
  --gray: #404040;

  --color-1: #aef3ff;
  --color-2: #b1ffa2;
  --color-3: #3ca6e7;
  --color-4: #13a888;

  --selection-background: rgba(58, 133, 102, 0.8);
  --selection-color: var(--white);
}

::-moz-selection {
  background: var(--selection-background);
  color: var(--selection-color);
}

::selection {
  background: var(--selection-background);
  color: var(--selection-color);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #303030;
}

::-webkit-scrollbar-thumb {
  background: #707070;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

/* Body */
body {
  font-family: var(--font-1), sans-serif;
  font-size: 1.1rem;
  background-color: var(--black);
  color: var(--white);
}

/* Navbar */
#nav {
  background-color: var(--color-4);
  display: flex;
  justify-content: flex-end;
  padding: 3px 10px;
  position: fixed;
  top: 0px;
  width: 100%;
  min-height: 25px;
  z-index: 100;
}

a {
  text-decoration: none;
  color: var(--white);
}

#nav .nav-enlaces a {
  display: inline-block;
  padding: 4px 4px 0 4px;
  border-radius: 6px;
}

#nav .nav-enlaces a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Header */
#header {
  position: relative;
  border-top: 25px solid var(--black);
  min-height: 60vh;
  padding: 60px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#header img {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#header .text-frame {
  z-index: 20;
  background: linear-gradient(
    165deg,
    rgba(20, 110, 60, 0.7),
    rgba(10, 50, 100, 0.7));
  padding: 10px 0;
  width: 100%;
  max-width: 330px;
  border-radius: 10px;
}

/* name */
#header .name {
  color: var(--white);
  font-size: 3.5rem;
  font-weight: bold;
}

/* Cook easy! */
#header .text-2 {
  font-family: var(--font-2), var(--font-1), sans-serif;
  font-weight: 100;
  color: var(--color-2);
  font-size: 3rem;
}

/* Main */
section {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 30px;
}

article {
  width: 100%;
}

h1, h2 {
  font-family: var(--font-2), var(--font-1), sans-serif;
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 35px;
}

h2 {
  font-size: 2.5rem;
}

p {
  margin-bottom: 25px;
}

p:last-child {
  margin-bottom: 0;
}

.width-limit {
  margin: 0 auto 0 auto;
  max-width: 800px;
}

.background-1 {
  background-color: var(--color-1);
  color: var(--black);
}

.background-2 {
  background-color: var(--color-2);
  color: var(--black);
}

.background-3 {
  background-color: var(--color-3);
  color: var(--white);
}

.background-4 {
  background-color: var(--color-4);
  color: var(--white);
}

.background-black {
  background-color: var(--black);
  color: var(--color-1);
}

.background-white {
  background-color: var(--white);
  color: var(--black);
}

.glass-02 {
  background-color: rgba(0, 0, 0, 0.2);
}

.pad-10 {
  padding: 10px;
}

.hidden {
  display: none;
}

#banners {
  display: flex;
  flex-wrap: wrap;
}

.home-banner {
  flex: 400px;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.selection-grid {
  display: grid;
  grid-template-columns: var(--selection-grid-frs);
  gap: var(--selection-grid-gap);
  margin: 40px auto 0 auto;
}

.recipe-card {
  background: linear-gradient(
    130deg,
    rgba(20, 110, 60, 0.5),
    rgba(10, 50, 100, 0.4));
  padding: 5px;
  max-width: 270px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.recipe-card:hover {
  transform: scale(1.05);
  background: linear-gradient(
    130deg,
    rgba(20, 110, 60, 0.6),
    rgba(10, 50, 100, 0.6));
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.recipe-card .text-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  height: 150px;
}

.recipe-card .text-container h4 {
  color: var(--color-2);
}

.recipe-display-container {
  width: 100%;
}

.recipe-display {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.rec-disp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.rec-disp-header h2 {
  font-size: 2rem;
  margin: 0 0 0 5px;
}

.rec-disp-header i {
  padding: 0 10px;
  font-size: 2rem;
  background-color: var(--color-4);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  cursor: pointer;
}

.rec-disp-header i:hover {
  background-color: var(--black);
  border: 2px solid var(--color-1);
  color: var(--color-1);
}

.rec-ingredients h3, 
.rec-directions h3 {
  width: 100%;
  margin: 0 0 15px 5px;
}

.ing-img-flex,
.dir-img-flex {
  display: flex;
  column-gap: 10px;
  row-gap: 20px;
}

.rec-ingredients ul, 
.rec-directions ul {
  background-color: rgba(10, 50, 100, 0.3);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.rec-ingredients li, 
.rec-directions li {
  padding: 3px 0;
  font-size: 1rem;
}

.rec-ingredients img, 
.rec-directions img {
  width: 100%;
  max-width: 40%;
  max-height: 300px;
  background-color: var(--color-4);
  border-radius: 10px;
  object-fit: cover;
}

/* Recipe search */

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.search-controls {
  display: flex;
  gap: 5px;
}

.search-controls input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  outline: none;
}

.search-controls button {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-1);
}

.search-controls button:hover {
  background-color: var(--white)
}

#input-empty-error, 
#input-typing-error {
  margin: 0;
}

.results {
  width: 100%;
}

.results .meals {
  width: 100%;
  display: flex;
  gap: 3px;
  flex-direction: column;
  align-items: center;
}

.results .meals .meal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.results .meals .meal .meal-title {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 5px 3px 5px;
  cursor: pointer;
  font-size: 1rem;
}

.results .meals .meal .meal-title:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.results .meals .meal .meal-title h3 {
  width: 100%;
  text-align: center;
}

.results .meals .meal .meal-title i {
  border: 2px solid transparent;
  padding: 1px 8px;
  border-radius: 5px;
}

.results .meals .meal .meal-info-cont {
  width: 100%;
  padding: 0 10px 20px 10px;
}

.results .meals .meal .meal-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.results .meals .meal .meal-img-ing-flex {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.results .meals .meal img {
  background-color: var(--black);
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  position: sticky;
  left: 0;
}

.results .meals .meal .meal-ingredients {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
}

.results .meals .meal .meal-ingredients li {
  font-size: 1rem;
}

.results .meals .meal a {
  background-color: var(--white);
  color: var(--black);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
}

.results .meals .meal a:hover {
  background-color: var(--color-1);
}

/* mi foto */
.subir-foto {
  flex: 300px;
}

/* Contacto */
.subir-receta {
  flex: 500px;
}

/* Estilo compartido por los botones 'Mi Foto' y 'Contacto' */
.subir-foto button, .subir-receta button {
  font-family: var(--font-2);
  font-size: 2.5rem;
  padding: 30px 0;
  display: block;
  margin: 35px auto 0 auto;
  width: 100%;
  max-width: 400px;
  border: none;
  border-radius: 10px;
}

/* Colores del botón 'Mi foto' */
.subir-foto button {
  background-color: var(--color-3);
  color: var(--white);
}

/* Colores del botón 'Contacto' */
.subir-receta button {
  background-color: var(--color-2);
  color: var(--black);
}

/* Footer */
footer {
  background-color: var(--gray);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 50px 30px;
  font-size: 1rem;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.page-footer .footer-text {
  flex: 0 1 300px;
  text-align: center;
}

.page-footer .footer-text p {
  margin: 0;
  padding: 4px;
}

.page-footer .footer-links {
  flex: 0 1 300px;
  display: flex;
  justify-content: space-evenly;
}

.page-footer .footer-links a {
  height: fit-content;
  padding: 4px;
  font-size: 1.2rem;
}

.page-footer .footer-links a:hover {
  color: var(--color-2);
}

/* Developer info */
.developer-info {
  border: 2px solid var(--color-1);
  border-radius: 10px;
  color: var(--color-1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  padding: 25px;
  font-size: 0.8rem;
}

.developer-info > div {
  flex: 150px;
  text-align: center;
}

.developer-info > div > * {
  margin-top: 0;
  margin-bottom: 8px;
}

.developer-info a {
  color: var(--color-1);
  height: fit-content;
  padding: 0 4px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.developer-info a:hover {
  background-color: var(--color-1);
  color: var(--black);
}

@media screen and (max-width: 800px) {
  :root {
    --selection-grid-gap: 5px;
  }
  .recipe-card .text-container p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --selection-grid-frs: 1fr 1fr;
  }
  section {
    padding: 60px 10px;
  }
  .selection-grid {
    display: grid;
  }
  .recipe-card {
    padding: 5px 3px;
  }
  .recipe-card:hover {
    transform: scale(1);
  }
  .recipe-card .text-container {
    padding: 5px;
  }
  .ing-img-flex, 
  .dir-img-flex {
    flex-direction: column-reverse;
  }
  .ing-img-flex img, 
  .dir-img-flex img {
    max-width: 700px;
  }
  .results .meals .meal .meal-img-ing-flex {
    flex-direction: column;
    align-items: center;
  }
  .results .meals .meal .meal-img-ing-flex img {
    max-height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .recipe-display {
    padding: 5px;
  }
}